@page "{id:int?}"
@model RetroPieRomUploader.Pages.Roms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rom</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RomVM.ID" />
            <div class="form-group">
                <label asp-for="RomVM.Title" class="control-label"></label>
                <input asp-for="RomVM.Title" class="form-control" />
                <span asp-validation-for="RomVM.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RomVM.ConsoleTypeID" class="control-label"></label>
                <select asp-for="RomVM.ConsoleTypeID" asp-items="ViewData.Model.ConsoleList" class="form-control">
                </select>
                <span asp-validation-for="RomVM.ConsoleTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RomVM.ReleaseDate" class="control-label"></label>
                <input asp-for="RomVM.ReleaseDate" class="form-control" />
                <span asp-validation-for="RomVM.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Associated File(s)</label>
                <ul>
                    @foreach (var file in Model.RomVM.FileEntries)
                    {
                        <li>@file</li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
